/* css */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body {
    font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
    background: #E9EAED;
    line-height: 1.5;
    overflow-x: hidden;
}

img {
    border: 0;
    display: block
}

ul, li, ol, dl, dd, dt, form {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #000;
    text-decoration: none;
}
.clear {
    clear: both;
    width: 100%;
    overflow: hidden;
    height: 75px
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
/* container Start*/
.container{
    width: 85%;
    margin: 0px auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom:150px;
}
.container:after{
    content:"";
    display:block;
    clear:both;
}
.space_container {
    width: 44px;
    float: right;
    height: 1px;
}
/*main*/
.container main {
    position: relative;
    width: 74%;
}
main{
    float: right;
}
main .blog-content-box {
    position: relative;
    padding: 0 24px 16px;
    background: #fff;
    margin-bottom: 8px;
}
.article-head{
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e0dbe2;
}
.article-head h1{
    margin-bottom: 10px;
}
ul li{
    list-style: none;
    display: inline-block;
    padding-right: 5px;
    font-size: 13px;
    color: #565656;
}
.typeName{
    padding:0px 2px;
    margin-right: 2px;
    background: #ff6271;
    border-radius: 5px;
    color: white;
}
.userName a{
    color: dodgerblue;
}
/*article-head End*/

/*article-content Start*/
.article-content{

}
.content img{
    max-width: 100%;
    height: auto;
}
.toolBox{
    margin-top: 50px;
}
/*aside*/
aside {
    float: left;
    width: 22%;
    background: #5cb85c;
    height: 100%;
}

.tool-box {
    position: fixed;
    top: 48px;
    z-index: 100;
    width: 44px;
    right: -118px;
    background: #00A67C;
    z-index: 2000;
    height: 600px;
}

#footMobile{
    display: none;
}
/*评论*/

#comment .ul1{
    width: 100%;
    list-style: none;
}
#comment .ul1 .li1{
    border-bottom: 1px dashed #C0C4CC;
    width: 100%;
    margin: 0px;
}
#comment .ul2{
    list-style: none;
}
.info{
    margin-left: 5px;
    margin-top: 10px;
}
.ul1 .content{
    padding: 10px;
    word-break: break-all;
    text-indent:2em;
    /*white-space:pre-warp;*/
    /*word-wrapL:break-word;*/

}
.ul1 p img{
    width:16px;
    height:16px;
    border-radius: 50%;
}
.ul1 p span{
    font-size: 13px;
}
.nickname a{
    color: black;
    text-decoration: none;
}
.time{
    color: #C2C2C2;
}
.ul2 li{
    margin-left: 40px;
    border-left: 2px solid #C0C4CC;
    margin-bottom: 5px;
}
.reply{
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}
.reply a{
    font-size: 12px;
    color: #01AAED;
    text-decoration: none;
}
#replyComment{
    padding: 10px;
}
#replyComment textarea{
    border:0;
    border-radius:5px;
    background-color:rgba(241,241,241,.98);
    width: 500px;
    height: 60px;
    padding: 10px;
    resize: none;
    vertical-align:top;
}
#replyComment form p{
    font-size: 12px;
    color: #C9C2C2;
    height: 60px;
    display: inline-block;
}
#replyComment form p img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align:top;
}
#replyComment form span{
    float: right;
    margin-top: 40px;
    margin-right: 25%;
}
#replyComment form a{
    text-decoration: none;
    color: white;
    background-color: #930000;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 40px;
    margin-left: 20px;
}
