/*左侧菜单栏*/
#menu{
    display: block;
}
/*main.jsp article*/
article{
    width: 97%;
}
#lBox{
    width: 100%;
    margin-left: 0px;
}
#lul{
    display: none;
}
.lunBox {
    width: 100%;
}
.lunRight{
    display: none;
}
#rBox{
    display: none;
}
.titleP a{
    font-size: 15px;
}
.navUl{
    display: none;
}
.search-box {
    display: none;

 }
#searchBox{
    display: block;
    float: none;
    width: 90%;
}

.search-box2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    height: 40px;
    border-radius: 40px;

}
.search-box3 {
    position: absolute;
    top: 16.1%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    height: 40px;
    border-radius: 40px;

}
.search-btn2{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-btn3{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt2{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 14px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
}

.search-box2:hover>.search-txt2 {
    width: 170px;
    padding: 0 6px;
}

.search-box2:hover>.search-btn2 {
    background: white;
}
.search-box3:hover>.search-txt2 {
    width: 170px;
    padding: 0 6px;
}

.search-box3:hover>.search-btn2 {
    background: white;
}
#LAY_demo1{
    margin-bottom: 150px;
}

#footMobile{
    display: block;
    border-top: 2px solid #565AD6;
    background: #393D49;
    width: 100%;
    height: 40px;
    margin: 0px auto;
    position: fixed;
    bottom: 1px;
    color: #949494;
    font-size: 13px;
}
#footMobileDiv{
    width: 70%;
    margin: 0px auto;
}
#footMobile p a{
    color: #e0e0e0;
    font-size: 13px;
}


/*showBlog */
#section{
    width: 97%;
}
#section #left{
    width: 100%;
    float: left;
    margin-bottom: 150px;
}
#right{
    display: none;
}
#tuiArticle{
    margin-top: 150px;
}
