<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="cn.bdqn.domain.Comment" >
    <id column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
    <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" />
    <result column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="tourist_id" property="touristId" jdbcType="INTEGER" />
    <result column="comment_state" property="commentState" jdbcType="INTEGER" />
    <result column="comment_revert" property="commentRevert" jdbcType="INTEGER" />
    <result column="comment_reply" property="commentReply" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    comment_id, comment_content, comment_time, article_id, tourist_id, comment_state, 
    comment_revert, comment_reply, admin_id, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.bdqn.domain.Comment" >
    insert into t_comment (comment_id, comment_content, comment_time, 
      article_id, tourist_id, comment_state, 
      comment_revert, comment_reply, admin_id, 
      user_id)
    values (#{commentId,jdbcType=INTEGER}, #{commentContent,jdbcType=VARCHAR}, #{commentTime,jdbcType=TIMESTAMP}, 
      #{articleId,jdbcType=INTEGER}, #{touristId,jdbcType=INTEGER}, #{commentState,jdbcType=INTEGER}, 
      #{commentRevert,jdbcType=INTEGER}, #{commentReply,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.bdqn.domain.Comment" >
    insert into t_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="commentContent != null" >
        comment_content,
      </if>
      <if test="commentTime != null" >
        comment_time,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="touristId != null" >
        tourist_id,
      </if>
      <if test="commentState != null" >
        comment_state,
      </if>
      <if test="commentRevert != null" >
        comment_revert,
      </if>
      <if test="commentReply != null" >
        comment_reply,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="commentContent != null" >
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null" >
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="touristId != null" >
        #{touristId,jdbcType=INTEGER},
      </if>
      <if test="commentState != null" >
        #{commentState,jdbcType=INTEGER},
      </if>
      <if test="commentRevert != null" >
        #{commentRevert,jdbcType=INTEGER},
      </if>
      <if test="commentReply != null" >
        #{commentReply,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bdqn.domain.Comment" >
    update t_comment
    <set >
      <if test="commentContent != null" >
        comment_content = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null" >
        comment_time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="touristId != null" >
        tourist_id = #{touristId,jdbcType=INTEGER},
      </if>
      <if test="commentState != null" >
        comment_state = #{commentState,jdbcType=INTEGER},
      </if>
      <if test="commentRevert != null" >
        comment_revert = #{commentRevert,jdbcType=INTEGER},
      </if>
      <if test="commentReply != null" >
        comment_reply = #{commentReply,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bdqn.domain.Comment" >
    update t_comment
    set comment_content = #{commentContent,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=TIMESTAMP},
      article_id = #{articleId,jdbcType=INTEGER},
      tourist_id = #{touristId,jdbcType=INTEGER},
      comment_state = #{commentState,jdbcType=INTEGER},
      comment_revert = #{commentRevert,jdbcType=INTEGER},
      comment_reply = #{commentReply,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>