*{
    margin: 0px;
    padding: 0px;
}
div{
    width: 800px;
    margin: 0px auto;
}
h1{
    text-align: center;
}
ul li{
    list-style: none;
    display: inline-block;
    font-size: 10px;
    color: #565656;
}
.liColor{
    color: #5cb85c;
}