*{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
body{
	background-color: #DDDDDD;
}
#divmain{
	margin: 0px auto;
	width: 60%;
}
#divright,#divFans,#divAttention{
	width: 80%;
	float: left;
	background-color: white;
	box-shadow: #000000;
}
#divleft{
	width: 19%;
	float: left;
	background-color: white;
	border-right:1px #DDDDDD solid;
}
#divleft #ul{
	list-style: none;
}
#ul li{
	font-size: 14px;
	padding:5px 20px;
}
#ul li a{
	color: black;
	text-decoration: none;
}
#ul li:hover{
	background-color: pink;
}
#ul li:hover a{
	background-color: pink;
	color: #FF416C;
}
#divmain:after{
	content: '';
	display: block;
	clear: both;
}
#divright #top{
	height: 40px;
	padding-top: 10px ;
	padding-left: 20px;
	padding-right: 10px;
	width: 95%;
}
#divright #top p{
	margin-bottom: 10px;
	font: 18px;
	font-weight: 800;
}
#divright #top,#left,#right{
	float: left;
}
#divright #left{
	width: 15%;
	margin-left: 30px;
	margin-top: 20px;
}
#right{
	width: 79%;
}
#divimg,#diva{
	width: 100%;
	margin: 0px auto;
	text-align: center;
}
#divright #left img{
	border-radius: 50%;
}
#divright #left a{
	margin-top:1px ;
	margin-left: 8px;
	border-radius: 50%;
}
#right_top{
	margin-top: 25px;
	margin-left: 10px;
}
#right_top hr{
	margin-top: 10PX;
	margin-bottom:10px ;
}
#right_bottom{
	margin-left: 10px;
	padding-bottom: 80px;
}
#right_bottom p{
	margin-left:10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#right_bottom p:after{
	content: '';
	display: block;
	clear: both;
}
#right_bottom a{
	padding: 2px;
	float: right;
	margin-right: 240px;
	text-decoration: none;
	color: cornflowerblue;
	font-size: 12px;
}
#right_bottom a:hover{
	color: red;
	text-decoration: underline;
}
#pid{
	font-size: 14px;
	color: darkgrey;
	margin-bottom: 5px;
}
#diva a{
	margin-right: 10px;
	text-decoration: none;
	color: cornflowerblue;
	font-size: 12px;
}
#diva a:hover{
	color: red;
	text-decoration: underline;
}
#divFans hr{
	margin-left: 10px;
	margin-right: 10px ;
}
#divFans ul{
	margin-left: 20px;
	margin-top: 20px;
}
#divFans ul li{
	margin: 30px;
	display: inline-block;
}
#divFans ul li img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
#fansP{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 18px;
	font-weight: 400;
}
#divFans_divimg p{
	text-align: center;
	margin-top: 10px;
}
#divFans_divimg:hover p{
	background-color: #930000;
	color: white;
}
------------------
#divAttention hr{
	margin-left: 10px;
	margin-right: 10px ;
}
#divAttention ul{
	margin-left: 20px;
	margin-top: 20px;
}
#divAttention ul li{
	margin: 30px;
	display: inline-block;
}
#divAttention ul li img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
#AttentionP{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 18px;
	font-weight: 400;
}
#divAttention_divimg p{
	text-align: center;
	margin-top: 10px;
}
#divAttention_divimg:hover p{
	background-color: #930000;
	color: white;
}
